.popup__input {
    border: 1px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
    font-size: 14px;
    font-weight: 400;
    height: 27px;
    line-height: 17px;
    margin: 0 36px 30px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 358px;
}

@media (max-width: 580px) {
    .popup__input {
        width: 238px;
        margin: 0 22px 30px;
    }
}