.popup__container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    max-height: 330px;
    width: 100%;
    position: relative;
}

@media (max-width: 580px) {
    .popup__container {
        max-width: 282px;
    }
}