.popup__container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  position: relative;
  transition: all 0.335s ease-in;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 580px) {
  .popup__container {
    max-width: 282px;
  }
}
