.popup__button-close {
  background-color: transparent;
  background-image: url("./../../../images/button-close.svg");
  border: none;
  margin: 0 0 8px 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.335s ease-in;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media (max-width: 580px) {
  .popup__button-close {
    right: 0;
    top: -32px;
    background-image: url("./../../../images/button-close-mobile.svg");
    width: 20px;
    height: 20px;
  }
}
